<h2>{{title}}</h2>


<form class="form-horizontal" ng-submit="save()">
    <fieldset>

        <div class="control-group">
            <label class="control-label" for="inputName">Task Name</label>

            <div class="controls">
                <input type="text" id="inputName" ng-model="task.name" required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputDeadline">Deadline</label>

            <div class="controls">
                <input type="text" id="inputDeadline" ng-model="task.deadline" required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputPriority">Priority</label>

            <div class="controls">
                <input type="number" id="inputPriority" ng-model="task.priority" required>
            </div>
        </div>

    </fieldset>

    <input type="submit" value="Save">
</form>